@using Microsoft.JSInterop
@using OrbellionWeb.Shared
@inject IJSRuntime JS;

<div class="draggable card" style="position: absolute;">
    <div class="title"><textarea type="text" @bind="@DisplayedCard.Name" placeholder="Card Name" rows="1"/></div>
    <div class="cardart"><br></div>
    <div class="typeline">
        <InputSelect @bind-Value="@DisplayedCard.Element" style="border: none;">
            @foreach (var value in Enum.GetValues(typeof(Element)))
            {
                <option value="@value">@value</option>
            }
        </InputSelect>
        <InputSelect @bind-Value="@DisplayedCard.Type" style="border: none;">
            @foreach (var value in Enum.GetValues(typeof(CardType)))
            {
                <option value="@value">@value</option>
            }
        </InputSelect><br>
        
    </div>
    <div class="text">
        @if (DisplayedCard.Type == CardType.Move || DisplayedCard.Type == CardType.Item)
        {
            <InputSelect @bind-Value="@DisplayedCard.Power" style="border: none; font-weight: 700;">
                @foreach (var value in Enum.GetValues(typeof(Power)))
                {
                    <option value="@value">@value</option>
                }
            </InputSelect>
            <br>
            <textarea type="text" @bind="@DisplayedCard.Text" placeholder="Card Text" rows="4"/>
        }
        else {
            <textarea type="text" @bind="@DisplayedCard.Text" placeholder="Card Text" rows="5"/>
        }
    </div>
</div>

@code {
    [Parameter]
    public Card DisplayedCard { get; set; } = new Card();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dragAndDrop", ".draggable");
    }
}
